{% extends 'base2.html' %}
{#{% block title %}Home{% endblock title %}#}
{#{% block nav-style %}mkt-nav{% endblock nav-style %}#}
{% block title %}
   {{ block.super }} Rewards
{% endblock %}
{% block content %}
    <div class="container">
<h2>Rewards:</h2>
    {% if object_list %}
        <table class="table" border="1">
        <thead>
        <tr>
            <th>Name</th>
            <th>Task</th>
            <th>Points</th>
            <th>details</th>
            <th>edit</th>
            <th>delete</th>

        </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr>
                <td>{{ object.name }}</td>
                <td>{{ object.reward }}</td>
                <td>{{ object.cost }}</td>
                <td><a href="{% url 'app:reward-detail' object.id %}">details</a></td>
                <td><a href="{% url 'app:reward-edit' object.id %}">edit</a></td>
                <td><a href="{% url 'app:reward-delete' object.id %}">delete</a></td>

                </tr>
            {% endfor %}</tbody>
     </table>
    {% endif %}
    <a href="{% url 'app:reward-create' %}">New</a>
    </div>
{% endblock content %}