{% extends 'base.html' %}
{#{% block title %}Home{% endblock title %}#}
{#{% block nav-style %}mkt-nav{% endblock nav-style %}#}

{% block content %}
    <div class="container">
<h2>Tasks:</h2>
{#    {% if object_list %}#}
        <table border="1">
        <thead>
        <tr>
            <th>Name</th>
            <th>Task</th>
            <th>Points</th>
            <th>details</th>
            <th>edit</th>
            <th>delete</th>

        </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr>
                <td>{{ object.name }}</td>
                <td>{{ object.task }}</td>
                <td>{{ object.points }}</td>
                <td><a href="{% url 'app:task-detail' object.id %}">details</a></td>
                <td><a href="{% url 'app:task-edit' object.id %}">edit</a></td>
                <td><a href="{% url 'app:task-delete' object.id %}">delete</a></td>

                </tr>
            {% endfor %}</tbody>
     </table>
{#    {% endif %}#}
    <a href="{% url 'app:task-create' %}">New</a>
    </div>
{% endblock content %}